
__pycache__/price.cpython-39.pyc
.ipynb_checkpoints/model-checkpoint.ipynb
__pycache__/kalman.cpython-39.pyc
.ipynb_checkpoints/model-checkpoint.ipynb
.ipynb_checkpoints/model-checkpoint.ipynb
.ipynb_checkpoints